In [18]:

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
import numpy as np


# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.lacity.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.lacity.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#results = client.get("7fvc-faax", limit=2000000)

# Convert to pandas DataFrame
#results_df = pd.DataFrame.from_records(results)

In [19]:
types_df = pd.read_csv("Resources/los_angeles_crime_statistics.csv")
#types_df.info()
types_df.tail()

,Unnamed: 0,area_id,area_name,crm_cd,crm_cd_4,crm_cd_desc,date_occ,date_rptd,dr_no,location,...,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd,lat,lon,zipcode,year
1930531,1931437,21.0,Topanga,626,NaN,INTIMATE PARTNER - SIMPLE ASSAULT,2019-02-23T00:00:00.000,2019-02-23T00:00:00.000,192106365,23900 LOS ROSAS ST,...,1010,31.0,W,M,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400.0,34.2241,-118.6468,91304,2019
1930532,1931438,21.0,Topanga,420,NaN,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),2019-02-22T00:00:00.000,2019-02-23T00:00:00.000,192106374,22800 VICTORY BL,...,2200,50.0,W,M,NaN,NaN,34.1864,-118.6234,91367,2019
1930533,1931439,21.0,Topanga,624,NaN,BATTERY - SIMPLE ASSAULT,2019-02-21T00:00:00.000,2019-02-21T00:00:00.000,192106340,23500 KIVIK ST,...,1400,40.0,W,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400.0,34.1675,-118.6396,91367,2019
1930534,1931440,21.0,Topanga,310,NaN,BURGLARY,2019-02-22T00:00:00.000,2019-02-25T00:00:00.000,192106479,4900 TOPANGA CANYON BL,...,1430,35.0,W,M,NaN,NaN,34.1569,-118.6058,91364,2019
1930535,1931441,21.0,Topanga,900,NaN,VIOLATION OF COURT ORDER,2019-02-01T00:00:00.000,2019-02-21T00:00:00.000,192106283,7000 QUAKERTOWN AV,...,1000,50.0,H,M,NaN,NaN,34.1975,-118.5699,91306,2019

In [26]:
zipcodes_df = types_df['zipcode'].unique()
zipcodes_df

array([90036, 90048, 90005, 90019, 90016, 90038, 90018, 90069, 90211,
       90014, 90035, 90710, 91331, 90044, 91402, 90062, 91411, 90077,
       91405, 91356, 91335, 91316, 91436, 90002, 90006, 90024, 91423,
       91406, 90003, 90045, 91607, 91343, 91303, 90017, 90012, 90015,
       90071, 90057, 90029, 90037, 90007, 90744, 90501, 90064, 90212,
       91401, 90065, 90026, 90011, 90001, 90033, 90291, 90066, 90292,
       91605, 91352, 91325, 91304, 90010, 90013, 90008, 90079, 90021,
       90031, 90032, 90732, 90731, 90248, 90004, 90028, 90025, 90272,
       90404, 91403, 90041, 90039, 90042, 90027, 90047, 90305, 90043,
       90230, 90405, 90304, 90301, 91604, 91608, 91601, 91606, 91342,
       91214, 91040, 91326, 91324, 91306, 91344, 90247, 90061, 90059,
       91340, 91345, 91367, 90063, 90023, 90717, 90822, 90046, 90020,
       90067, 90210, 90034, 90049, 90402, 91201, 90302, 90056, 90094,
       90293, 91505, 91602, 91311, 91307, 91364, 91030, 90803, 90723,
       90401, 90222, 90670, 91321, 90640, 90831, 90403, 91766, 90814,
       91744, 91506, 90255, 90813, 91750, 91803, 90232, 91790, 90815,
       90502, 90755, 93510, 90804, 91773, 90266, 90810, 91105, 93591,
       91008, 90022, 90068, 91206, 93550, 90270, 91205, 91204, 91210,
       91203, 91103, 90240, 90303, 90806, 90807, 90245, 91755, 91767,
       91504, 91501, 91301, 90262, 90746, 91731, 93551, 90605, 90241,
       90254, 91351, 90660, 91754, 91722, 91016, 91006, 91354, 90278,
       91775, 90805, 93552, 91350, 90275, 90201, 90623, 90802, 90220,
       91748, 90058, 91101, 90703, 90713, 91740, 90221, 90249, 90740,
       92372, 91104, 90602, 90808, 91106, 90265, 91723, 91502, 91207,
       93534, 91765, 91001, 90505, 90706, 91011, 90250, 91801, 90701,
       91732, 91792, 90715, 90604, 91768, 90603, 91789, 91741, 90290])

In [24]:
print(len(zipcodes_df))

234

In [31]:
zip_counts = types_df["zipcode"].value_counts()
zip_counts

90037    57434
90003    52027
90028    51985
90011    44326
90057    43121
90062    41388
90029    38193
90014    34519
91303    34475
90018    34427
91402    34363
91405    31831
90044    30288
90007    29155
91324    29101
91335    28639
91331    28392
91605    28270
91343    27813
90002    27737
91606    26852
91306    25179
90008    25092
90744    24445
90033    24443
90731    23660
90036    23500
90010    22838
90016    21687
90019    21416
         ...
91101        1
90605        1
93534        1
91207        1
91001        1
90505        1
91016        1
93591        1
91011        1
90604        1
92372        1
91723        1
91732        1
91740        1
90250        1
90265        1
91741        1
90701        1
90713        1
90715        1
91765        1
91789        1
90740        1
90746        1
91768        1
91775        1
90806        1
90802        1
91354        1
90249        1
Name: zipcode, Length: 234, dtype: int64