In [1]:
import pandas as pd
from sodapy import Socrata
from uszipcode import SearchEngine # note this does an approximation of zipcode based upon a radius
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt

# import pickle

In [2]:
pd.options.display.max_columns=20

In [3]:
client = Socrata("data.lacity.org", None)

results = client.get("7fvc-faax", limit=2000000)
# results = client.get("7fvc-faax", limit=200)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
results_df.head()

,:@computed_region_2dna_qi2s,:@computed_region_k96s_3jcv,:@computed_region_kqwf_mjcx,:@computed_region_qz3q_ghft,:@computed_region_tatf_ua23,:@computed_region_ur2y_g4cx,area_id,area_name,crm_cd,crm_cd_1,...,premis_desc,rpt_dist_no,status,status_desc,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd
0,26,626,7,23667,1086,NaN,07,Wilshire,930,930,...,PARK/PLAYGROUND,0724,AA,Adult Arrest,1050,41,B,M,VERBAL THREAT,511
1,26,635,7,23667,332,NaN,07,Wilshire,626,626,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",0735,AA,Adult Arrest,0600,27,O,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400
2,26,633,6,23679,809,NaN,07,Wilshire,930,930,...,PARKING LOT,0721,AA,Adult Arrest,2350,20,H,F,VERBAL THREAT,511
3,52,612,12,23080,1229,NaN,07,Wilshire,626,626,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",0759,AA,Adult Arrest,2330,35,O,M,UNKNOWN WEAPON/OTHER WEAPON,500
4,69,651,12,23080,1105,NaN,07,Wilshire,236,236,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",0787,AO,Adult Other,2000,43,K,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400

In [5]:
# with open('results_df.pickle', 'wb') as f:
#     # Pickle the 'data' dictionary using the highest protocol available.
#     pickle.dump(results_df, f, pickle.HIGHEST_PROTOCOL)

In [6]:
# with open('results_df.pickle', 'rb') as f:
#     # The protocol version used is detected automatically, so we do not
#     # have to specify it.
#     results_df = pickle.load(f)

In [7]:
list(results_df)

[':@computed_region_2dna_qi2s',
 ':@computed_region_k96s_3jcv',
 ':@computed_region_kqwf_mjcx',
 ':@computed_region_qz3q_ghft',
 ':@computed_region_tatf_ua23',
 ':@computed_region_ur2y_g4cx',
 'area_id',
 'area_name',
 'crm_cd',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_4',
 'crm_cd_desc',
 'cross_street',
 'date_occ',
 'date_rptd',
 'dr_no',
 'location',
 'location_1',
 'mocodes',
 'premis_cd',
 'premis_desc',
 'rpt_dist_no',
 'status',
 'status_desc',
 'time_occ',
 'vict_age',
 'vict_descent',
 'vict_sex',
 'weapon_desc',
 'weapon_used_cd']

In [8]:
rows=len(results_df)
search = SearchEngine(simple_zipcode=True)
lon = []
lat = []
zipcode = []
year_single = '2000'
year = []
for i in range(rows):
    # single values for readability
    lattitude = float(results_df['location_1'][i]['coordinates'][1])
    longitude = float(results_df['location_1'][i]['coordinates'][0])
    year_single = results_df['date_occ'][i][:4]
    # append to arrays
    lon.append(longitude)
    lat.append(lattitude)
    try:
        zipcode.append(search.by_coordinates(lattitude, longitude, radius=5, returns=1)[0].zipcode)
    except:
        zipcode.append('00000')
        print(f'{i},{lattitude},{longitude}')
    year.append(year_single)
results_df['lat'] = lat
results_df['lon'] = lon
results_df['zipcode'] = zipcode
results_df['year'] = year

2513,0.0,0.0
12985,34.706,-118.0879
32768,0.0,0.0
40068,0.0,0.0
54647,0.0,0.0
142345,34.706,-118.0879
143901,0.0,0.0
143937,0.0,0.0
144892,0.0,0.0
144964,0.0,0.0
145194,0.0,0.0
145223,0.0,0.0
158157,0.0,0.0
181231,0.0,0.0
186642,34.576,-118.0115
194622,33.3427,-118.3258
202117,0.0,0.0
202226,0.0,0.0
202858,0.0,0.0
203448,0.0,0.0
203594,0.0,0.0
203820,0.0,0.0
203935,0.0,0.0
220141,0.0,0.0
241522,0.0,0.0
272819,0.0,0.0
274499,0.0,0.0
286349,0.0,0.0
321578,0.0,0.0
351718,34.6765,-118.1089
356908,0.0,0.0
361817,0.0,0.0
372580,0.0,0.0
405296,33.3427,-118.3258
405551,33.3427,-118.3258
421637,0.0,0.0
426250,0.0,0.0
426251,0.0,0.0
426252,0.0,0.0
426253,0.0,0.0
426254,0.0,0.0
426255,0.0,0.0
426256,0.0,0.0
426257,0.0,0.0
426258,0.0,0.0
426259,0.0,0.0
426260,0.0,0.0
426261,0.0,0.0
426262,0.0,0.0
426263,0.0,0.0
426264,0.0,0.0
426265,0.0,0.0
426266,0.0,0.0
426267,0.0,0.0
426268,0.0,0.0
426269,0.0,0.0
426270,0.0,0.0
434296,0.0,0.0
434312,0.0,0.0
434313,0.0,0.0
434314,0.0,0.0
434315,0.0,0.0
434316,0.0,0.0
434317,0.0,0.0
434318,0.0,0.0
434319,0.0,0.0
434320,0.0,0.0
434321,0.0,0.0
434322,0.0,0.0
434323,0.0,0.0
434324,0.0,0.0
434325,0.0,0.0
434326,0.0,0.0
434327,0.0,0.0
434328,0.0,0.0
434329,0.0,0.0
434330,0.0,0.0
434331,0.0,0.0
434332,0.0,0.0
434333,0.0,0.0
434334,0.0,0.0
434335,0.0,0.0
434336,0.0,0.0
434337,0.0,0.0
434338,0.0,0.0
444531,0.0,0.0
444652,0.0,0.0
445430,0.0,0.0
445442,0.0,0.0
445443,0.0,0.0
445444,0.0,0.0
445445,0.0,0.0
445446,0.0,0.0
445447,0.0,0.0
445448,0.0,0.0
445449,0.0,0.0
445450,0.0,0.0
445451,0.0,0.0
445452,0.0,0.0
445453,0.0,0.0
445454,0.0,0.0
445455,0.0,0.0
445456,0.0,0.0
445457,0.0,0.0
445458,0.0,0.0
445459,0.0,0.0
445460,0.0,0.0
445461,0.0,0.0
445462,0.0,0.0
445463,0.0,0.0
445464,0.0,0.0
445465,0.0,0.0
445466,0.0,0.0
445467,0.0,0.0
445468,0.0,0.0
445469,0.0,0.0
445471,0.0,0.0
445472,0.0,0.0
451049,0.0,0.0
451050,0.0,0.0
451051,0.0,0.0
451052,0.0,0.0
451054,0.0,0.0
454981,0.0,0.0
454982,0.0,0.0
454983,0.0,0.0
454984,0.0,0.0
454985,0.0,0.0
454986,0.0,0.0
454987,0.0,0.0
454988,0.0,0.0
454989,0.0,0.0
454990,0.0,0.0
454991,0.0,0.0
454992,0.0,0.0
454993,0.0,0.0
454994,0.0,0.0
454995,0.0,0.0
454996,0.0,0.0
454997,0.0,0.0
454998,0.0,0.0
454999,0.0,0.0
455000,0.0,0.0
455001,0.0,0.0
455002,0.0,0.0
455003,0.0,0.0
455004,0.0,0.0
455005,0.0,0.0
455006,0.0,0.0
455007,0.0,0.0
461997,34.6828,-118.0991
462457,34.6648,-118.1223
463124,34.4922,-118.6366
463354,0.0,0.0
463517,0.0,0.0
463518,0.0,0.0
463519,0.0,0.0
463520,0.0,0.0
463521,0.0,0.0
463522,0.0,0.0
463523,0.0,0.0
463524,0.0,0.0
463525,0.0,0.0
463526,0.0,0.0
463527,0.0,0.0
463528,0.0,0.0
463529,0.0,0.0
463530,0.0,0.0
463531,0.0,0.0
463532,0.0,0.0
463533,0.0,0.0
463534,0.0,0.0
463535,0.0,0.0
463536,0.0,0.0
463537,0.0,0.0
463538,0.0,0.0
463539,0.0,0.0
463540,0.0,0.0
469042,0.0,0.0
472593,0.0,0.0
472745,0.0,0.0
472746,0.0,0.0
472748,0.0,0.0
472749,0.0,0.0
472750,0.0,0.0
472751,0.0,0.0
472752,0.0,0.0
472753,0.0,0.0
472754,0.0,0.0
472755,0.0,0.0
472756,0.0,0.0
472757,0.0,0.0
472758,0.0,0.0
472760,0.0,0.0
472761,0.0,0.0
472762,0.0,0.0
472763,0.0,0.0
472764,0.0,0.0
472765,0.0,0.0
472766,0.0,0.0
472767,0.0,0.0
472768,0.0,0.0
472769,0.0,0.0
472770,0.0,0.0
473057,0.0,0.0
473265,0.0,0.0
476618,0.0,0.0
481046,0.0,0.0
481047,0.0,0.0
481048,0.0,0.0
481049,0.0,0.0
481050,0.0,0.0
481051,0.0,0.0
481052,0.0,0.0
481053,0.0,0.0
481054,0.0,0.0
481055,0.0,0.0
481056,0.0,0.0
481057,0.0,0.0
481058,0.0,0.0
481059,0.0,0.0
481060,0.0,0.0
481061,0.0,0.0
481062,0.0,0.0
481063,0.0,0.0
481064,0.0,0.0
481065,0.0,0.0
481066,0.0,0.0
481067,0.0,0.0
481068,0.0,0.0
484738,0.0,0.0
484739,0.0,0.0
489579,0.0,0.0
489580,0.0,0.0
489581,0.0,0.0
489582,0.0,0.0
489583,0.0,0.0
489584,0.0,0.0
489585,0.0,0.0
489586,0.0,0.0
489587,0.0,0.0
489588,0.0,0.0
489589,0.0,0.0
489590,0.0,0.0
489591,0.0,0.0
489592,0.0,0.0
489593,0.0,0.0
489594,0.0,0.0
489595,0.0,0.0
489596,0.0,0.0
489597,0.0,0.0
489598,0.0,0.0
489599,0.0,0.0
489600,0.0,0.0
489601,0.0,0.0
489602,0.0,0.0
489603,0.0,0.0
489604,0.0,0.0
489605,0.0,0.0
489606,0.0,0.0
489607,0.0,0.0
489608,0.0,0.0
489609,0.0,0.0
489610,0.0,0.0
495915,0.0,0.0
498499,0.0,0.0
498500,0.0,0.0
498501,0.0,0.0
498502,0.0,0.0
498503,0.0,0.0
498504,0.0,0.0
498505,0.0,0.0
498506,0.0,0.0
498507,0.0,0.0
498508,0.0,0.0
498509,0.0,0.0
498510,0.0,0.0
498511,0.0,0.0
498512,0.0,0.0
498513,0.0,0.0
498514,0.0,0.0
498515,0.0,0.0
498516,0.0,0.0
498517,0.0,0.0
498518,0.0,0.0
498519,0.0,0.0
498520,0.0,0.0
498521,0.0,0.0
498522,0.0,0.0
498523,0.0,0.0
498524,0.0,0.0
498525,0.0,0.0
498526,0.0,0.0
498527,0.0,0.0
502212,0.0,0.0
507342,0.0,0.0
507534,0.0,0.0
507535,0.0,0.0
507536,0.0,0.0
507537,0.0,0.0
507538,0.0,0.0
507539,0.0,0.0
507540,0.0,0.0
507541,0.0,0.0
507542,0.0,0.0
507543,0.0,0.0
507544,0.0,0.0
507545,0.0,0.0
507546,0.0,0.0
507547,0.0,0.0
507548,0.0,0.0
507549,0.0,0.0
507550,0.0,0.0
507551,0.0,0.0
507552,0.0,0.0
507554,0.0,0.0
507555,0.0,0.0
507556,0.0,0.0
507557,0.0,0.0
507558,0.0,0.0
507559,0.0,0.0
507560,0.0,0.0
507561,0.0,0.0
516786,0.0,0.0
516855,0.0,0.0
516856,0.0,0.0
516857,0.0,0.0
516858,0.0,0.0
516859,0.0,0.0
516860,0.0,0.0
516861,0.0,0.0
516862,0.0,0.0
516863,0.0,0.0
516865,0.0,0.0
516866,0.0,0.0
516867,0.0,0.0
516868,0.0,0.0
516869,0.0,0.0
516870,0.0,0.0
516871,0.0,0.0
516872,0.0,0.0
516873,0.0,0.0
516874,0.0,0.0
516875,0.0,0.0
516876,0.0,0.0
516877,0.0,0.0
516878,0.0,0.0
516879,0.0,0.0
516880,0.0,0.0
516881,0.0,0.0
516882,0.0,0.0
516883,0.0,0.0
516884,0.0,0.0
516885,0.0,0.0
528580,0.0,0.0
528983,0.0,0.0
528984,0.0,0.0
528985,0.0,0.0
528986,0.0,0.0
528987,0.0,0.0
528988,0.0,0.0
528989,0.0,0.0
528990,0.0,0.0
528991,0.0,0.0
528992,0.0,0.0
528993,0.0,0.0
528994,0.0,0.0
528995,0.0,0.0
528996,0.0,0.0
528997,0.0,0.0
528998,0.0,0.0
528999,0.0,0.0
529000,0.0,0.0
529001,0.0,0.0
529002,0.0,0.0
529003,0.0,0.0
529004,0.0,0.0
529005,0.0,0.0
529006,0.0,0.0
529007,0.0,0.0
529008,0.0,0.0
529009,0.0,0.0
529010,0.0,0.0
529011,0.0,0.0
529012,0.0,0.0
529013,0.0,0.0
529014,0.0,0.0
529015,0.0,0.0
529016,0.0,0.0
529017,0.0,0.0
529018,0.0,0.0
529019,0.0,0.0
529020,0.0,0.0
529021,0.0,0.0
529022,0.0,0.0
529023,0.0,0.0
529024,0.0,0.0
529025,0.0,0.0
529026,0.0,0.0
529027,0.0,0.0
529028,0.0,0.0
529029,0.0,0.0
540145,0.0,0.0
540146,0.0,0.0
540147,0.0,0.0
540148,0.0,0.0
540149,0.0,0.0
540150,0.0,0.0
540151,0.0,0.0
540152,0.0,0.0
540153,0.0,0.0
540154,0.0,0.0
540155,0.0,0.0
540156,0.0,0.0
540157,0.0,0.0
540158,0.0,0.0
540159,0.0,0.0
540160,0.0,0.0
540161,0.0,0.0
540162,0.0,0.0
540163,0.0,0.0
540164,0.0,0.0
540165,0.0,0.0
549630,0.0,0.0
549631,0.0,0.0
549632,0.0,0.0
549633,0.0,0.0
549634,0.0,0.0
549635,0.0,0.0
549636,0.0,0.0
549637,0.0,0.0
549638,0.0,0.0
549639,0.0,0.0
549640,0.0,0.0
549641,0.0,0.0
549642,0.0,0.0
549643,0.0,0.0
549644,0.0,0.0
549645,0.0,0.0
549646,0.0,0.0
549647,0.0,0.0
549648,0.0,0.0
549649,0.0,0.0
549650,0.0,0.0
549651,0.0,0.0
549652,0.0,0.0
549653,0.0,0.0
549654,0.0,0.0
549655,0.0,0.0
549656,0.0,0.0
549657,0.0,0.0
549658,0.0,0.0
549659,0.0,0.0
549660,0.0,0.0
549661,0.0,0.0
549662,0.0,0.0
549663,0.0,0.0
549664,0.0,0.0
554201,0.0,0.0
558746,0.0,0.0
559821,0.0,0.0
560140,0.0,0.0
560184,0.0,0.0
560215,0.0,0.0
560223,0.0,0.0
560254,0.0,0.0
560255,0.0,0.0
560256,0.0,0.0
560257,0.0,0.0
560258,0.0,0.0
560259,0.0,0.0
560260,0.0,0.0
560261,0.0,0.0
560262,0.0,0.0
560263,0.0,0.0
560264,0.0,0.0
560265,0.0,0.0
560266,0.0,0.0
560267,0.0,0.0
560268,0.0,0.0
560269,0.0,0.0
560271,0.0,0.0
560272,0.0,0.0
560273,0.0,0.0
560274,0.0,0.0
560275,0.0,0.0
560276,0.0,0.0
560277,0.0,0.0
560278,0.0,0.0
560279,0.0,0.0
560280,0.0,0.0
560281,0.0,0.0
560283,0.0,0.0
560284,0.0,0.0
567975,0.0,0.0
568051,0.0,0.0
568125,0.0,0.0
568224,0.0,0.0
568451,0.0,0.0
569788,0.0,0.0
569794,0.0,0.0
569796,0.0,0.0
569797,0.0,0.0
569798,0.0,0.0
569799,0.0,0.0
569800,0.0,0.0
569801,0.0,0.0
569802,0.0,0.0
569803,0.0,0.0
569804,0.0,0.0
569805,0.0,0.0
569806,0.0,0.0
569807,0.0,0.0
569808,0.0,0.0
572931,0.0,0.0
578441,0.0,0.0
578442,0.0,0.0
578443,0.0,0.0
578444,0.0,0.0
578445,0.0,0.0
578446,0.0,0.0
578447,0.0,0.0
578449,0.0,0.0
578450,0.0,0.0
578451,0.0,0.0
578452,0.0,0.0
578453,0.0,0.0
578454,0.0,0.0
578455,0.0,0.0
578456,0.0,0.0
578457,0.0,0.0
578458,0.0,0.0
578459,0.0,0.0
578460,0.0,0.0
578461,0.0,0.0
578462,0.0,0.0
578463,0.0,0.0
578464,0.0,0.0
578465,0.0,0.0
578466,0.0,0.0
578467,0.0,0.0
578468,0.0,0.0
578469,0.0,0.0
578470,0.0,0.0
578471,0.0,0.0
578472,0.0,0.0
578473,0.0,0.0
578474,0.0,0.0
578475,0.0,0.0
578476,0.0,0.0
578477,0.0,0.0
578478,0.0,0.0
578479,0.0,0.0
578480,0.0,0.0
578481,0.0,0.0
578482,0.0,0.0

582470,0.0,0.0
582471,0.0,0.0
582472,0.0,0.0
582473,0.0,0.0
588366,0.0,0.0
588386,0.0,0.0
588387,0.0,0.0
588388,0.0,0.0
588389,0.0,0.0
588390,0.0,0.0
588391,0.0,0.0
588392,0.0,0.0
588393,0.0,0.0
588394,0.0,0.0
588395,0.0,0.0
588396,0.0,0.0
588397,0.0,0.0
588398,0.0,0.0
588399,0.0,0.0
588400,0.0,0.0
588401,0.0,0.0
588402,0.0,0.0
588403,0.0,0.0
588404,0.0,0.0
588405,0.0,0.0
588406,0.0,0.0
588407,0.0,0.0
588408,0.0,0.0
588409,0.0,0.0
588410,0.0,0.0
588411,0.0,0.0
588412,0.0,0.0
588413,0.0,0.0
588414,0.0,0.0
588415,0.0,0.0
588416,0.0,0.0
588417,0.0,0.0
588418,0.0,0.0
588419,0.0,0.0
592879,0.0,0.0
596751,0.0,0.0
598656,0.0,0.0
598657,0.0,0.0
598672,0.0,0.0
598673,0.0,0.0
598698,0.0,0.0
598729,0.0,0.0
598730,0.0,0.0
598731,0.0,0.0
598733,0.0,0.0
598734,0.0,0.0
598735,0.0,0.0
598736,0.0,0.0
598737,0.0,0.0
598738,0.0,0.0
598741,0.0,0.0
598742,0.0,0.0
598743,0.0,0.0
598744,0.0,0.0
598745,0.0,0.0
598746,0.0,0.0
598747,0.0,0.0
598748,0.0,0.0
598749,0.0,0.0
598750,0.0,0.0
598752,0.0,0.0
598753,0.0,0.0
598754,0.0,0.0
598755,0.0,0.0
598756,0.0,0.0
598757,0.0,0.0
598758,0.0,0.0
598759,0.0,0.0
598760,0.0,0.0
598761,0.0,0.0
602964,0.0,0.0
606958,0.0,0.0
607793,0.0,0.0
607794,0.0,0.0
607795,0.0,0.0
607796,0.0,0.0
607797,0.0,0.0
607798,0.0,0.0
607799,0.0,0.0
607800,0.0,0.0
607801,0.0,0.0
607803,0.0,0.0
607804,0.0,0.0
607805,0.0,0.0
607806,0.0,0.0
607807,0.0,0.0
607808,0.0,0.0
607809,0.0,0.0
607810,0.0,0.0
607811,0.0,0.0
607812,0.0,0.0
616430,0.0,0.0
616531,0.0,0.0
616532,0.0,0.0
616533,0.0,0.0
616534,0.0,0.0
616535,0.0,0.0
616536,0.0,0.0
616537,0.0,0.0
616538,0.0,0.0
616539,0.0,0.0
616540,0.0,0.0
616541,0.0,0.0
616542,0.0,0.0
616543,0.0,0.0
616544,0.0,0.0
616545,0.0,0.0
616546,0.0,0.0
616547,0.0,0.0
616548,0.0,0.0
616549,0.0,0.0
616550,0.0,0.0
658458,0.0,0.0
658795,0.0,0.0
659325,34.6828,-118.0991
661485,34.0268,-118.8279
676288,0.0,0.0
693149,0.0,0.0
701524,0.0,0.0
781060,34.7907,-118.317
797215,33.3427,-118.3258
797216,33.3427,-118.3258
811271,0.0,0.0
813049,0.0,0.0
813613,0.0,0.0
815299,0.0,0.0
815513,0.0,0.0
822012,0.0,0.0
822013,0.0,0.0
822819,0.0,0.0
824130,0.0,0.0
825642,0.0,0.0
825824,0.0,0.0
826720,0.0,0.0
829505,0.0,0.0
830860,0.0,0.0
831108,0.0,0.0
831310,0.0,0.0
831446,0.0,0.0
831803,0.0,0.0
832837,0.0,0.0
833627,0.0,0.0
834167,0.0,0.0
834970,0.0,0.0
835124,0.0,0.0
835554,0.0,0.0
836347,0.0,0.0
836772,0.0,0.0
837626,0.0,0.0
837652,0.0,0.0
837989,0.0,0.0
838020,0.0,0.0
838235,0.0,0.0
838379,0.0,0.0
839093,0.0,0.0
841347,0.0,0.0
841732,0.0,0.0
842466,0.0,0.0
842557,0.0,0.0
843336,0.0,0.0
843363,0.0,0.0
843405,0.0,0.0
843448,0.0,0.0
843619,0.0,0.0
843799,0.0,0.0
843840,0.0,0.0
844248,0.0,0.0
844954,0.0,0.0
845386,0.0,0.0
846893,0.0,0.0
850025,0.0,0.0
851641,0.0,0.0
852815,0.0,0.0
853046,0.0,0.0
853165,0.0,0.0
853549,0.0,0.0
853601,0.0,0.0
854377,0.0,0.0
858327,0.0,0.0
858482,0.0,0.0
859216,0.0,0.0
859243,0.0,0.0
859701,0.0,0.0
860672,0.0,0.0
862513,0.0,0.0
863475,0.0,0.0
863530,0.0,0.0
866085,0.0,0.0
866923,0.0,0.0
867308,0.0,0.0
870390,0.0,0.0
871300,0.0,0.0
871418,0.0,0.0
872434,0.0,0.0
872594,0.0,0.0
874722,0.0,0.0
877947,0.0,0.0
879108,0.0,0.0
880878,0.0,0.0
881033,0.0,0.0
885739,0.0,0.0
887185,0.0,0.0
888644,0.0,0.0
889970,0.0,0.0
890270,0.0,0.0
896057,0.0,0.0
900153,0.0,0.0
902170,0.0,0.0
904014,0.0,0.0
904174,0.0,0.0
905574,0.0,0.0
906228,0.0,0.0
910432,0.0,0.0
917171,0.0,0.0
922439,0.0,0.0
923522,0.0,0.0
931018,0.0,0.0
931738,0.0,0.0
933763,0.0,0.0
933806,0.0,0.0
934843,0.0,0.0
934857,0.0,0.0
935059,0.0,0.0
935121,0.0,0.0
935889,0.0,0.0
935893,0.0,0.0
935961,0.0,0.0
936017,0.0,0.0
937078,0.0,0.0
939072,0.0,0.0
940013,0.0,0.0
941400,0.0,0.0
942790,0.0,0.0
944509,0.0,0.0
945548,0.0,0.0
946695,0.0,0.0
948132,0.0,0.0
948964,0.0,0.0
949589,0.0,0.0
950939,0.0,0.0
957622,0.0,0.0
959754,0.0,0.0
960642,0.0,0.0
963661,0.0,0.0
965485,0.0,0.0
966534,0.0,0.0
967039,0.0,0.0
967249,0.0,0.0
970053,0.0,0.0
970119,0.0,0.0
970162,0.0,0.0
971927,0.0,0.0
973205,0.0,0.0
974535,0.0,0.0
974998,0.0,0.0
975512,0.0,0.0
976228,0.0,0.0
981504,0.0,0.0
983550,0.0,0.0
986916,0.0,0.0
988907,33.3427,-118.3258
991852,0.0,0.0
992716,0.0,0.0
999814,0.0,0.0
1000660,0.0,0.0
1000931,0.0,0.0
1002908,0.0,0.0
1003739,0.0,0.0
1005815,0.0,0.0
1007957,0.0,0.0
1016300,0.0,0.0
1024062,0.0,0.0
1025375,0.0,0.0
1025629,0.0,0.0
1027044,0.0,0.0
1029701,0.0,0.0
1036145,0.0,0.0
1039005,0.0,0.0
1039119,0.0,0.0
1041614,0.0,0.0
1042699,0.0,0.0
1046951,0.0,0.0
1047085,0.0,0.0
1048907,0.0,0.0
1050583,0.0,0.0
1052798,0.0,0.0
1052799,0.0,0.0
1054504,0.0,0.0
1056465,0.0,0.0
1059885,0.0,0.0
1062489,0.0,0.0
1064101,0.0,0.0
1069519,0.0,0.0
1069520,0.0,0.0
1074583,0.0,0.0
1074801,0.0,0.0
1078459,0.0,0.0
1084180,0.0,0.0
1090615,0.0,0.0
1100205,0.0,0.0
1101231,0.0,0.0
1103522,0.0,0.0
1106894,0.0,0.0
1117337,0.0,0.0
1126618,0.0,0.0
1126619,0.0,0.0
1126620,0.0,0.0
1137737,0.0,0.0
1139420,0.0,0.0
1139875,0.0,0.0
1140236,0.0,0.0
1141944,0.0,0.0
1143537,0.0,0.0
1148790,0.0,0.0
1151042,0.0,0.0
1152494,0.0,0.0
1155878,0.0,0.0
1161001,0.0,0.0
1164557,0.0,0.0
1170756,0.0,0.0
1173201,0.0,0.0
1174671,0.0,0.0
1175473,0.0,0.0
1178622,0.0,0.0
1185454,0.0,0.0
1189227,0.0,0.0
1195829,0.0,0.0
1195991,0.0,0.0
1209695,0.0,0.0
1210144,0.0,0.0
1217901,0.0,0.0
1300975,0.0,0.0
1312920,0.0,0.0
1321650,0.0,0.0
1395123,0.0,0.0
1456159,0.0,0.0
1466582,0.0,0.0
1503081,0.0,0.0
1547664,0.0,0.0
1557538,0.0,0.0
1603779,0.0,0.0
1638551,0.0,0.0
1677965,0.0,0.0
1733609,0.0,0.0
1927867,0.0,0.0

In [9]:
len(results_df)

1931442

In [10]:
# remove lines with no corresponding zip code
results_df = results_df[results_df.zipcode != '00000']
len(results_df)

1930536

In [11]:
# drop irrelevant columns
results_df.drop(columns=[':@computed_region_2dna_qi2s',
 ':@computed_region_k96s_3jcv',
 ':@computed_region_kqwf_mjcx',
 ':@computed_region_qz3q_ghft',
 ':@computed_region_tatf_ua23',
 ':@computed_region_ur2y_g4cx',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'cross_street'], inplace=True)

In [12]:
results_df.head()

,area_id,area_name,crm_cd,crm_cd_4,crm_cd_desc,date_occ,date_rptd,dr_no,location,location_1,...,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd,lat,lon,zipcode,year
0,07,Wilshire,930,NaN,CRIMINAL THREATS - NO WEAPON DISPLAYED,2010-03-12T00:00:00.000,2010-03-12T00:00:00.000,100700660,7600 BEVERLY BL,"{'type': 'Point', 'coordinates': [-118.3555, 3...",...,1050,41,B,M,VERBAL THREAT,511,34.0761,-118.3555,90036,2010
1,07,Wilshire,626,NaN,INTIMATE PARTNER - SIMPLE ASSAULT,2010-03-13T00:00:00.000,2010-03-13T00:00:00.000,100700661,600 S DETROIT ST,"{'type': 'Point', 'coordinates': [-118.3451, 3...",...,0600,27,O,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400,34.0649,-118.3451,90036,2010
2,07,Wilshire,930,NaN,CRIMINAL THREATS - NO WEAPON DISPLAYED,2010-03-23T00:00:00.000,2010-03-24T00:00:00.000,100700688,LA CIENEGA BL,"{'type': 'Point', 'coordinates': [-118.3765, 3...",...,2350,20,H,F,VERBAL THREAT,511,34.0730,-118.3765,90048,2010
3,07,Wilshire,626,NaN,INTIMATE PARTNER - SIMPLE ASSAULT,2010-03-23T00:00:00.000,2010-03-24T00:00:00.000,100700689,1100 NORTON AV,"{'type': 'Point', 'coordinates': [-118.3219, 3...",...,2330,35,O,M,UNKNOWN WEAPON/OTHER WEAPON,500,34.0516,-118.3219,90005,2010
4,07,Wilshire,236,NaN,INTIMATE PARTNER - AGGRAVATED ASSAULT,2010-04-05T00:00:00.000,2010-04-05T00:00:00.000,100700719,4400 W WASHINGTON BL,"{'type': 'Point', 'coordinates': [-118.3353, 3...",...,2000,43,K,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400,34.0399,-118.3353,90019,2010

In [13]:
file_name='los_angeles_crime_statistics.csv'
results_df.to_csv(file_name, encoding='utf-8')

In [ ]:
# dates

In [ ]:
# construct a basic timedelta and print it
print (timedelta(days=365, hours=0, minutes=0))
# print today's date
print ("today is: " + str(datetime.now()))
# print today's date one year from now
print ("one year from now it will be:" + str(datetime.now() - timedelta(days=365)))

In [ ]:
now = datetime.now()
print(now)
print(timedelta(days=365))
# 1year = datetime.now() - timedelta(days=365)
# 1year
print(type(now))

In [ ]:
df_0 = results_df

In [ ]:
# group by zipcode /crm_cd ; count number of crimes (dr_no) 
aggregation = { 
     'dr_no': 'nunique' 
}
df_1 = results_df.groupby(['zipcode','crm_cd']).agg(aggregation)
df_1

In [ ]:
df_1.plot(kind="line", figsize=(20,3))

In [ ]:
# group by year / zipcode ; count number of crimes (dr_no)
aggregation = { 
     'dr_no': 'nunique' 
}
df_2 = results_df.groupby(['year','zipcode']).agg(aggregation)
df_2

In [ ]:
fig = plt.figure()
ax = plt.axes()

x = np.linspace(0, 10, 1000)
ax.plot(x, np.sin(x));

In [ ]:
# group by year / zipcode ; count number of crimes (dr_no)
df_4 = results_df.sort_values(by=['zipcode'])
aggregation = { 
     'dr_no': 'count' 
}
df_3 = df_4.groupby(['zipcode']).agg(aggregation)
df_3 = df_3.sort_values(by=['dr_no'], ascending=False)
df_3 = df_3[:10]
df_3.reset_index(level=0, inplace=True)
df_3

In [ ]:
df_5 = df_3['zipcode']
df_5

In [ ]:
# rolling year

In [ ]:
# 5 years

In [ ]:
df_3 = df_3.sort_values(by='zipcode')
top_zipcodes = df_3.zipcode.unique()
top_zipcodes

In [ ]:
aggregation = { 
     'dr_no': 'nunique' 
}
zip_90012 = pd.DataFrame(df_0[df_0.zipcode == '90012'].groupby(['zipcode']).agg(aggregation))

# df_6.reset_index(level=0, inplace=True)
zip_90012

In [ ]:
plot('xlabel', 'ylabel', data=df_2)
plt.xlabel('Total Number of Rides (Per City)', fontdict=None, labelpad=None)
plt.ylabel('Average Fare ($)', fontdict=None, labelpad=None)
plt.title('Pyber Ride Sharing Data (2016)', fontdict=None, loc='center', pad=None)
plt.grid(b=None, which='major', axis='both')

In [ ]:
# income

In [ ]:
# home value

In [ ]:
result