In [120]:
import pandas as pd
from sodapy import Socrata
from uszipcode import SearchEngine # note this does an approximation of zipcode based upon a radius
from datetime import datetime
from datetime import timedelta

import pickle

In [101]:
pd.options.display.max_columns=100

In [102]:
client = Socrata("data.lacity.org", None)

# results = client.get("7fvc-faax", limit=2000000)
results = client.get("7fvc-faax", limit=200)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [103]:
# results_df.head()

In [104]:
# with open('results_df.pickle', 'wb') as f:
#     # Pickle the 'data' dictionary using the highest protocol available.
#     pickle.dump(results_df, f, pickle.HIGHEST_PROTOCOL)

In [105]:
# with open('results_df.pickle', 'rb') as f:
#     # The protocol version used is detected automatically, so we do not
#     # have to specify it.
#     results_df = pickle.load(f)

In [106]:
list(results_df)

[':@computed_region_2dna_qi2s',
 ':@computed_region_k96s_3jcv',
 ':@computed_region_kqwf_mjcx',
 ':@computed_region_qz3q_ghft',
 ':@computed_region_tatf_ua23',
 ':@computed_region_ur2y_g4cx',
 'area_id',
 'area_name',
 'crm_cd',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_desc',
 'cross_street',
 'date_occ',
 'date_rptd',
 'dr_no',
 'location',
 'location_1',
 'mocodes',
 'premis_cd',
 'premis_desc',
 'rpt_dist_no',
 'status',
 'status_desc',
 'time_occ',
 'vict_age',
 'vict_descent',
 'vict_sex',
 'weapon_desc',
 'weapon_used_cd']

In [113]:
rows=len(results_df)
search = SearchEngine(simple_zipcode=True)
lon = []
lat = []
zipcode = []
for i in range(rows):
    lattitude = float(results_df['location_1'][i]['coordinates'][1])
    longitude = float(results_df['location_1'][i]['coordinates'][0])
    lon.append(longitude)
    lat.append(lattitude)
    zipcode.append(search.by_coordinates(lattitude, longitude, radius=2, returns=1)[0].zipcode)
results_df['lat'] = lat
results_df['lon'] = lon
results_df['zipcode'] = zipcode

In [111]:
results_df.head()

,:@computed_region_2dna_qi2s,:@computed_region_k96s_3jcv,:@computed_region_kqwf_mjcx,:@computed_region_qz3q_ghft,:@computed_region_tatf_ua23,:@computed_region_ur2y_g4cx,area_id,area_name,crm_cd,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_desc,cross_street,date_occ,date_rptd,dr_no,location,location_1,mocodes,premis_cd,premis_desc,rpt_dist_no,status,status_desc,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd,lat,lon,zipcode
0,76,703,9,23075,1319,NaN,01,Central,310,310,NaN,NaN,BURGLARY,NaN,2010-08-06T00:00:00.000,2010-08-07T00:00:00.000,100101320,300 E 8TH ST,"{'type': 'Point', 'coordinates': [-118.2517, 3...",0324,203,OTHER BUSINESS,0176,IC,Invest Cont,1730,25,H,F,NaN,NaN,34.0413,-118.2517,90014
1,76,542,9,23074,1502,NaN,01,Central,210,210,NaN,NaN,ROBBERY,LOS ANGELES,2010-11-25T00:00:00.000,2010-11-26T00:00:00.000,100101643,5TH,"{'type': 'Point', 'coordinates': [-118.2476, 3...",0411,102,SIDEWALK,0145,IC,Invest Cont,2100,51,H,M,OTHER KNIFE,207,34.0461,-118.2476,90014
2,76,542,9,23074,1502,NaN,01,Central,946,946,NaN,NaN,OTHER MISCELLANEOUS CRIME,NaN,2010-01-27T00:00:00.000,2010-01-29T00:00:00.000,100105528,100 E 5TH ST,"{'type': 'Point', 'coordinates': [-118.2485, 3...",NaN,101,STREET,0154,IC,Invest Cont,1430,43,W,M,NaN,NaN,34.0467,-118.2485,90014
3,26,626,7,23667,1086,NaN,07,Wilshire,930,930,NaN,NaN,CRIMINAL THREATS - NO WEAPON DISPLAYED,NaN,2010-03-12T00:00:00.000,2010-03-12T00:00:00.000,100700660,7600 BEVERLY BL,"{'type': 'Point', 'coordinates': [-118.3555, 3...",0421,109,PARK/PLAYGROUND,0724,AA,Adult Arrest,1050,41,B,M,VERBAL THREAT,511,34.0761,-118.3555,90036
4,26,635,7,23667,332,NaN,07,Wilshire,626,626,NaN,NaN,INTIMATE PARTNER - SIMPLE ASSAULT,NaN,2010-03-13T00:00:00.000,2010-03-13T00:00:00.000,100700661,600 S DETROIT ST,"{'type': 'Point', 'coordinates': [-118.3451, 3...",0400 2000,502,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",0735,AA,Adult Arrest,0600,27,O,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400,34.0649,-118.3451,90036

In [ ]:
# dates

In [126]:
#
# Example file for working with timedelta objects
#
# from datetime import date
# from datetime import time
# from datetime import datetime
# from datetime import timedelta

# construct a basic timedelta and print it
print (timedelta(days=365, hours=0, minutes=0))
# print today's date
print ("today is: " + str(datetime.now()))
# print today's date one year from now
print ("one year from now it will be:" + str(datetime.now() - timedelta(days=365)))

365 days, 0:00:00
today is: 2019-03-22 09:19:08.666731
one year from now it will be:2018-03-22 09:19:08.666731

In [134]:
now = datetime.now()
print(now)
print(timedelta(days=365))
# 1year = datetime.now() - timedelta(days=365)
# 1year
print(type(now))

2019-03-22 09:29:22.186099
365 days, 0:00:00
<class 'datetime.datetime'>

In [ ]:
# rolling year

In [ ]:
# 5 years

In [ ]:
# income

In [ ]:
# home value

In [19]:
result

SimpleZipcode(zipcode='90079', zipcode_type='Standard', major_city='Los Angeles', post_office_city='Los Angeles, CA', common_city_list=['Los Angeles'], county='Los Angeles County', state='CA', lat=34.053, lng=-118.245, timezone='Pacific', radius_in_miles=0.11363636363636363, area_code_list=['213', '323', '424', '626', '747', '818'], population=0, population_density=None, land_area_in_sqmi=0.0, water_area_in_sqmi=0.0, housing_units=0, occupied_housing_units=0, median_home_value=None, median_household_income=None, bounds_west=-118.256716, bounds_east=-118.254093, bounds_north=34.041599, bounds_south=34.039571)